/*
variable
*/
/*
mixin
*/
/*
global styles
*/
/* line 30, ../sass/styles.scss */
body {
  font-family: Arial, sans-serif;
}

/* line 31, ../sass/styles.scss */
a {
  color: #000;
}
/* line 32, ../sass/styles.scss */
a:hover {
  color: #2a2a2a;
}

/* line 35, ../sass/styles.scss */
header a {
  color: #f6f7fa;
}
/* line 36, ../sass/styles.scss */
header a:hover {
  color: #333;
}
/* line 38, ../sass/styles.scss */
header .header-top {
  min-height: 100px;
}
/* line 39, ../sass/styles.scss */
header .navbar {
  height: 60px;
  background: #0077a3;
  border-radius: 0;
  border: none;
  margin-bottom: 16px;
}
/* line 40, ../sass/styles.scss */
header .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
}
/* line 41, ../sass/styles.scss */
header .navbar ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table-cell;
}
/* line 42, ../sass/styles.scss */
header .navbar ul li a {
  padding: 0 15px;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}
/* line 43, ../sass/styles.scss */
header .navbar ul li a:hover {
  color: #333;
  text-decoration: none;
}

/* line 49, ../sass/styles.scss */
.wrapper {
  max-width: 1200px;
}
/* line 50, ../sass/styles.scss */
.wrapper .sidebar {
  padding: 0 10px;
}
/* line 51, ../sass/styles.scss */
.wrapper .sidebar .sidebar-content {
  min-height: 400px;
  background: #f5f5f5;
  margin: 36px 65px 0 15px;
}
/* line 53, ../sass/styles.scss */
.wrapper .content {
  padding: 0 10px;
  min-height: 900px;
}
/* line 54, ../sass/styles.scss */
.wrapper .content .page-title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333;
  font-style: italic;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/* line 57, ../sass/styles.scss */
footer {
  background: #f5f2f0;
  min-height: 200px;
  padding: 55px;
}
/* line 58, ../sass/styles.scss */
footer p {
  display: block;
  text-align: center;
  color: #105628;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

/*
page home
*/
/* line 65, ../sass/styles.scss */
.home {
  /*viet scss cua page home vao day*/
}

/*
 page questionAndAnswers
*/
/* line 75, ../sass/styles.scss */
.questionAndAnswers {
  /*viet scss cua page questionAndAnswers vao day*/
}

/*
 page tutorial
*/
/* line 86, ../sass/styles.scss */
.tutorial {
  /*viet scss cua page tutorial vao day*/
}
